body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle at 10% 20%, rgb(26, 178, 203) 0%, rgb(0, 102, 161) 90.1%);
}

.container {
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
    background-color: white;
    height: 510px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 90%;
    padding: 5px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
}