* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
  background: #f6f5f5; 
  font-family:Arial, Helvetica, sans-serif;
}
header{
  background: #3bb4c1; 
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    height:auto;
    text-align: center;
    border-radius: 0 0 85% 85% / 30%;
    overflow: hidden;
    font-family:Arial, Helvetica, sans-serif;
}
#intro{
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}
p{
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
}
h1{
    font-size: 2em;
    margin: 0 0 3rem;
    padding-top: 1.5rem;
    text-align: center;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
}
footer{
    text-align: right;
    margin-top:175px;
}
.cointainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  #planeje{
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding: 100px 60px;
    margin: 4px 3px;
    text-align: top;
    background: linear-gradient(180.3deg, rgb(221, 221, 221) 5.5%, rgb(110, 136, 161) 90.2%); 
    max-width: 100% auto;
    max-height: 100% auto;
    background-attachment: fixed;
    background-size:cover;
    width: 300px;
    height: 300px;
    font-size: 30px;
    border-style: hidden;
  }
  #aprenda{
    border-radius: 20px;
    justify-content: left;
    align-items: left;
    padding: 100px 60px;
    margin: 4px 3px;
    text-align: top;
    left: 100%;
    background: linear-gradient(180.3deg, rgb(221, 221, 221) 5.5%, rgb(110, 136, 161) 90.2%); 
    width: 300px;
    height: 300px;
    font-size: 30px;
    border-style: hidden;
  }
  button{
    cursor: pointer;
  }
  button:hover{
    cursor: pointer;
  background-color: chocolate;
  transition: transform .2s;
  transform: scale(1.1);
  }
.retorno{
    word-spacing: 20px;
    margin-bottom: -40px;
}
a:link {
  background: #3bb4c1;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  background: #3bb4c1;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #048998; 
  background-color: transparent;
  text-decoration: underline;
}
a{
  color: #3bb4c1;
}